<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-item>
    <ion-label>标题</ion-label>
    <ion-input [(ngModel)]="artInfo.artTitle"></ion-input>
  </ion-item>

  <ckeditor  [(ngModel)]="artInfo.editorData"  [config]='config' [editor]="Editor" data=" " (ready)="onReady($event)"></ckeditor>
{{ artInfo | json }}

</ion-content>
<ion-footer>
  <ion-toolbar>
    
    <ion-button (click)="onPulish()" expand="block"  shape="round">
      <ion-icon name="paper-plane-sharp" ></ion-icon>
      发布
    </ion-button>
  </ion-toolbar>
</ion-footer>
