<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>发布</ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="doClose()" expand="block" fill="clear" shape="round">
        <ion-icon name="close-outline"></ion-icon>
        
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-title>选择发布类型</ion-title>

<ion-item button>
  <ion-label>Click me</ion-label>
</ion-item>

<ion-item button>
  <ion-label>Click me</ion-label>
</ion-item>

<ion-item button>
  <ion-label>Click me</ion-label>
</ion-item>

<ion-item button>
  <ion-label>Click me</ion-label>
</ion-item>

<ion-item button>
  <ion-label>创建话题</ion-label>
</ion-item>


</ion-content>