<ion-header>
  <ion-toolbar>
    <!-- <ion-title slot="end">个人中心</ion-title> -->
    <ion-buttons slot="end">
      <ion-icon name="menu"></ion-icon>
      <ion-menu-button menu="menuId"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>



  <!-- 个人基本信息 -->

  <ion-item>
    <ion-icon name="chevron-forward" slot="end"></ion-icon>

    <ion-thumbnail style=" border-radius:100%; overflow:hidden;" slot="start">
      <img src="./assets/images/head2.png">
    </ion-thumbnail>

    <div>
      <ion-label>
        <h3>小火锅</h3>
        <p style="color: cornflowerblue;">lv.3</p>
        <ion-progress-bar value="0.5"></ion-progress-bar>
        <p>这家伙很懒什么都没留下.</p>
      </ion-label>
    </div>
  </ion-item>
  <!-- 个人基本信息 -->




  <!-- 数量栏 -->
  <br>
  <div class="div_shuliang_lan">
    <div class="div_sl_item">
      <ion-button expand="block" fill="clear">

        <p>动态:</p>
        <ion-label>11</ion-label>
      </ion-button>
    </div>

    <div class="div_sl_item">
      <ion-button expand="block" fill="clear">
        <p>关注:</p>
        <ion-label>11</ion-label>

      </ion-button>
    </div>
    <div class="div_sl_item">
      <ion-button expand="block" fill="clear">
        <p>粉丝:</p>
        <ion-label>11</ion-label>
      </ion-button>
    </div>
  </div>
  <!-- 数量栏 -->

  <!-- 其他菜单 -->
  <ion-card>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>Card Link Item 1 activated</ion-label>
      <ion-icon name="chevron-forward" slot="end"></ion-icon>
    </ion-item>
  
    <ion-item href="#">
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>Card Link Item 2</ion-label>
      <ion-icon name="chevron-forward" slot="end"></ion-icon>
    </ion-item>
   
    <ion-item class="ion-activated">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Card Button Item 1 activated</ion-label>
      <ion-icon name="chevron-forward" slot="end"></ion-icon>
    </ion-item>
  
    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Card Button Item 2</ion-label>
      <ion-icon name="chevron-forward" slot="end"></ion-icon>
    </ion-item>
  </ion-card>
  <!-- <ion-list>
    <ion-list-header>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/images/updatemm.png" >
        </ion-avatar>      
        <ion-icon slot="end" name="chevron-forward"></ion-icon>
        <ion-label>Awesome Label</ion-label>
      </ion-item>      
    </ion-list-header>

    <ion-list-header>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/images/updatemm.png" >
        </ion-avatar>      
        <ion-icon slot="end" name="chevron-forward"></ion-icon>
        <ion-label>Awesome Label</ion-label>
      </ion-item>      
    </ion-list-header>

    <ion-list-header>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/images/updatemm.png" >
        </ion-avatar>      
        <ion-icon slot="end" name="chevron-forward"></ion-icon>
        <ion-label>Awesome Label</ion-label>
      </ion-item>      
    </ion-list-header>

    <ion-list-header>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/images/updatemm.png" >
        </ion-avatar>      
        <ion-icon slot="end" name="chevron-forward"></ion-icon>
        <ion-label>Awesome Label</ion-label>
      </ion-item>      
    </ion-list-header>
  </ion-list> -->



  <ion-button expand="block" color="secondary" >
    退出登录
    </ion-button>
  <!-- 其他菜单 -->

</ion-content>