.div_shuliang_lan{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}
.div_sl_item{

    text-align: center;
    border: blue;
    width: 33.3333%;
    height: 100%;
    display: center;
    
}