<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>动态</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- 下拉刷新 -->
    <ion-refresher slot="fixed" pullFactor="0.5"  pullMin="110" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="chevron-down-circle-outline"
        pullingText="下拉刷新"
        refreshingSpinner="circles"
        refreshingText="加载中...">
      </ion-refresher-content>
    </ion-refresher>

  <!-- top导航 -->
  <!-- Icon start -->
  <ion-segment #segment1 [(ngModel)]="tabState" color="primary" (ionChange)="segmentChanged($event)">

    <ion-segment-button layout="icon-start" value="all">
      <ion-label>全部</ion-label>
      <ion-icon name="earth"></ion-icon>
    </ion-segment-button>

    <ion-segment-button layout="icon-start" value="follow">
      <ion-label>关注</ion-label>
      <ion-icon name="heart"></ion-icon>
    </ion-segment-button>

    <ion-segment-button layout="icon-start" value="other">
      <ion-label>其他</ion-label>
      <ion-icon name="pin"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <!-- top导航 -->


  <div [ngSwitch]="tabState">

    <div class="con1" *ngSwitchCase="'all'">
      <app-mylist [tabState]="tabState" [artList]='this'> </app-mylist>
    </div>

    <div class="con2" *ngSwitchCase="'follow'">
      <app-mylist [tabState]="tabState"[artList]='this'> </app-mylist>
    </div>

    <div class="con3" *ngSwitchCase="'other'">
      <app-mylist [tabState]="tabState"> </app-mylist>
    </div>

  </div>
  <!-- 上拉加载 -->
  <ion-infinite-scroll threshold="20%" position="bottom" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content 
    loadingSpinner="bubbles" 
    loadingText="正在加载更多...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


  <div style="text-align: center;" *ngIf="dis">我也是有底线的...</div>
</ion-content>

