<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>动态</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- top导航 -->
  <!-- Icon start -->
  <ion-segment #segment1 [(ngModel)]="tabState" color="primary" (ionChange)="segmentChanged($event)">

    <ion-segment-button layout="icon-start" value="all">
      <ion-label>全部</ion-label>
      <ion-icon name="earth"></ion-icon>
    </ion-segment-button>

    <ion-segment-button layout="icon-start" value="follow">
      <ion-label>关注</ion-label>
      <ion-icon name="heart"></ion-icon>
    </ion-segment-button>

    <ion-segment-button layout="icon-start" value="other">
      <ion-label>其他</ion-label>
      <ion-icon name="pin"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <!-- top导航 -->

  <div [ngSwitch]="tabState">

    <div class="con1" *ngSwitchCase="'all'">
      <app-mylist [tabState]="tabState" > </app-mylist>
    </div>

    <div class="con2" *ngSwitchCase="'follow'">
      <app-mylist [tabState]="tabState"> </app-mylist>
    </div>

    <div class="con3" *ngSwitchCase="'other'">
      <app-mylist [tabState]="tabState"> </app-mylist>
    </div>

  </div>
  <!-- 上拉加载 -->
  <ion-infinite-scroll threshold="25%" [disabled]="true" position="bottom" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>