<ion-header  [translucent]="true">

  <ion-toolbar >
    <ion-title>Menu</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content [fullscreen]="true">

  <ion-searchbar color="secondary" placeholder="搜索..." animated="true" type="search"
    (ionChange)="onSearchChange($event)" [debounce]="250">
  </ion-searchbar>
  <!-- 轮播组件 -->
  <app-myslides></app-myslides>

  <div class="sy_tubiao">
    <div class="sy_tu">
      <a class="sy_dztj">
        <img src="assets/images/shouye/chongzhi-ion.png" />
        <label>测试</label>
      </a>
      <a class="sy_dztj">
        <img src="assets/images/shouye/chongzhi-ion.png" />
        <label>测试</label>
      </a>
      <a class="sy_dztj">
        <img src="assets/images/shouye/chongzhi-ion.png" />
        <label>测试</label>
      </a>
      <a class="sy_dztj">
        <img src="assets/images/shouye/kanjia-ion.png" />
        <label>测试</label>
      </a>
      <a class="sy_dztj">
        <img src="assets/images/shouye/chongzhi-ion.png" />
        <label>测试</label>
      </a>
      <a class="sy_dztj">
        <img src="assets/images/shouye/tuangou-ion.png" />
        <label>测试</label>
      </a>

      <a [routerLink]="['/login']" class="sy_dztj">
        <img src="assets/images/shouye/toupiaoion.png" />
        <label>测试</label>
      </a>
      <!-- 点击事件 -->
      <a class="sy_dztj">
        <img src="assets/images/shouye/kanjia-ion.png" />
        <label>测试</label>
      </a>

    </div>
  </div>




</ion-content>