<ion-header class="ion-no-border">

  <ion-toolbar>
    <ion-title>主页</ion-title>
  </ion-toolbar>
  <ion-searchbar color="secondary" placeholder="搜索..." animated="true" type="search"
    (ionChange)="onSearchChange($event)" [debounce]="250">
  </ion-searchbar>
</ion-header>



<ion-content [fullscreen]="true">
  <!-- 下拉刷新 -->
  <ion-refresher slot="fixed" pullFactor="1" pullMin="170" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="下拉刷新" refreshingSpinner="circles"
      refreshingText="加载中...">
    </ion-refresher-content>
  </ion-refresher>



  <!-- 轮播组件 -->
  <app-myslides></app-myslides>

  <!-- 分类菜单 -->
  <ion-card>
    <div class="sy_tubiao">
      <div class="sy_tu">

        <span *ngFor="let item of typeList">
          <a class="sy_dztj" [routerLink]="[ '/bbslist', 'type' ,item.id]">
            <img [src]="app_url+item.artimgurl" />
            <label>{{item.artname}}</label>
          </a>
        </span>
      </div>
    </div>
  </ion-card>

</ion-content>