<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- 下拉刷新 -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="下拉刷新"
      refreshingSpinner="circles"
      refreshingText="加载中...">
    </ion-refresher-content>
  </ion-refresher>

  <div class="div_head">
    <img  src="./assets/images/head1.png">
      <div>
        <ion-text color="secondary">
          <h1>Cool School</h1>
        </ion-text>
      </div>
  </div>

  
  <ion-card>
     <form>
   <ion-item>
     <ion-label position="floating">
       用户名
       <ion-text   color="danger">*</ion-text>
      </ion-label>
     <ion-input name="username" [(ngModel)]="loginInfo.username" required  type="text"></ion-input>
   </ion-item>
   <ion-item>


      <ion-icon (click)="isShowClick()" slot="end" [name]="isShow"></ion-icon>

     <ion-label position="floating">
       密码 
       <ion-text type="passwod" color="danger">*</ion-text>
      </ion-label>    
     <ion-input [type]="isPas"  name=passwod [(ngModel)]="loginInfo.password" required >
     </ion-input>
   </ion-item>

   <ion-item>
    <ion-label>记住我？</ion-label>
    <ion-checkbox name="isRemember" [(ngModel)]=loginInfo.isRemember color="secondary"></ion-checkbox>    
  </ion-item>

   </form>
  </ion-card>

  <ion-button (click)="onClickLogin()" color="tertiary" expand="block"  shape="round">
    登录
  </ion-button>

  <ion-button [routerLink]="['/register']"  expand="block" fill="clear" shape="round">
    注册
  </ion-button>

</ion-content>