<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" color="primary">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form>

      <ion-item>
        <ion-label position="floating">
          用户名
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input name="name" clearInput [(ngModel)]="registerInfo.username" required type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          密码
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input name="password" type="password" [(ngModel)]="registerInfo.password" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          再次输入密码
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="password" name="repassword" [(ngModel)]="registerInfo.repassword" required >
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>选择学校</ion-label>

        <ion-select (value)="registerInfo.schoolid" name="select" [(ngModel)]="registerInfo.schoolid">
          <ion-select-option *ngFor="let item of scoolList" [value]="item.schoolid">{{item.shoolname}}
          </ion-select-option>
        </ion-select>

      </ion-item>


      <ion-item>

        <ion-label position="floating">
          手机
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="number" name="phone" [(ngModel)]="registerInfo.phone" required ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          验证码
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input name="vcode" [(ngModel)]="registerInfo.vcode" required type="vcode"></ion-input>
        <ion-button slot="end" (click)="getCode()" [disabled]="!verifyCode.disable">{{verifyCode.verifyCodeTips}}
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          邮箱
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input name="email" [(ngModel)]="registerInfo.email" required type="email"></ion-input>
      </ion-item>
    </form>
  </ion-card>
  <ion-button (click)="regOnClick()" *ngIf="!bak" expand="block" type="submit" shape="round">
    注册
  </ion-button>
  <ion-button  [routerLink]="[ '/login']" *ngIf="bak" expand="block" fill="clear" shape="round">
    返回登录
  </ion-button>
</ion-content>